/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/BeerRating/target
/BeerRating/nbproject/
/nbproject/
/target
/nbproject
nbactions.xml
/sovellus/target/
/polkuja2/target/
/Cycles/target/
reviews.txt
reviews2.txt
advanced.txt
todo.txt
advancedTest.txt
reviewsTest.txt
